/**
GENERATED FILE

webflow.css is generated automatically by webflow and is used to expose variables from your webflow design system in your app.

Any changes to this file will be overwritten the next time your app is loaded in the workbench.

In order to override any of these variables, you can redefine them in a CSS file that is imported globally after the webflow.css on your page.

Font imports and @font-face declarations are in fonts.css, which should be imported before this file.

You can learn more about CSS custom properties here:
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_cascading_variables/Using_CSS_custom_properties#inheritance_of_custom_properties
*/

:root {
  --_apps---typography--heading-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --_apps---typography--body-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --_apps---typography--button-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --_apps---sizes--radius: 0px;
  --_apps---colors--background: #fff;
  --_apps---colors--foreground: #eee;
  --_apps---colors--card: #fff;
  --_apps---colors--card-foreground: #060606;
  --_apps---colors--popover: #f2f2f2;
  --_apps---colors--popover-foreground: #060606;
  --_apps---colors--primary: black;
  --_apps---colors--primary-foreground: #f8f8f8;
  --_apps---colors--secondary: #fff0f4;
  --_apps---colors--secondary-foreground: #0f0d0d;
  --_apps---colors--muted: #f8f8f8;
  --_apps---colors--muted-foreground: #7d797a;
  --_apps---colors--accent: #e4e4e4;
  --_apps---colors--accent-foreground: #0d0d0d;
  --_apps---colors--destructive: #d74843;
  --_apps---colors--border: black;
  --_apps---colors--input: black;
  --_apps---colors--ring: black;
  --_apps---charts--chart-1: black;
  --_apps---charts--chart-2: #030303;
  --_apps---charts--chart-3: black;
  --_apps---charts--chart-4: black;
  --_apps---charts--chart-5: #222;
  --_apps---sidebar--sidebar: #f8f8f8;
  --_apps---sidebar--sidebar-foreground: #060606;
  --_apps---sidebar--sidebar-primary: black;
  --_apps---sidebar--sidebar-primary-foreground: #f8f8f8;
  --_apps---sidebar--sidebar-accent: #e4e4e4;
  --_apps---sidebar--sidebar-accent-foreground: #0d0d0d;
  --_apps---sidebar--sidebar-border: black;
  --_apps---sidebar--sidebar-ring: black;
  --_apps---colors--background-dark: #030303;
  --_apps---colors--foreground-dark: #f8f8f8;
  --_apps---colors--card-dark: #141414;
  --_apps---colors--card-foreground-dark: #f8f8f8;
  --_apps---colors--popover-dark: #141414;
  --_apps---colors--popover-foreground-dark: #f8f8f8;
  --_apps---colors--primary-dark: #868686;
  --_apps---colors--primary-foreground-dark: #060606;
  --_apps---colors--secondary-dark: #211015;
  --_apps---colors--secondary-foreground-dark: #fcf7f8;
  --_apps---colors--muted-dark: #010101;
  --_apps---colors--muted-foreground-dark: #868686;
  --_apps---colors--accent-dark: #292929;
  --_apps---colors--accent-foreground-dark: #f8f8f8;
  --_apps---colors--destructive-dark: #e5554f;
  --_apps---colors--border-dark: hsla(0, 0.00%, 0.00%, 0.10);
  --_apps---colors--input-dark: hsla(0, 0.00%, 100.00%, 0.15);
  --_apps---colors--ring-dark: #989898;
  --_apps---charts--chart-1-dark: #868686;
  --_apps---charts--chart-2-dark: #b4b4b4;
  --_apps---charts--chart-3-dark: #696969;
  --_apps---charts--chart-4-dark: #a4a4a4;
  --_apps---charts--chart-5-dark: #5b5b5b;
  --_apps---sidebar--sidebar-dark: #070707;
  --_apps---sidebar--sidebar-foreground-dark: #f8f8f8;
  --_apps---sidebar--sidebar-primary-dark: #868686;
  --_apps---sidebar--sidebar-primary-foreground-dark: #060606;
  --_apps---sidebar--sidebar-accent-dark: #292929;
  --_apps---sidebar--sidebar-accent-foreground-dark: #f8f8f8;
  --_apps---sidebar--sidebar-border-dark: hsla(0, 0.00%, 100.00%, 0.10);
  --_apps---sidebar--sidebar-ring-dark: #989898;
}
